/*Gobal Styles------------------------------------------------------->*/
body {
  display: grid;
  margin: 0 auto;
  background: white;
  font: 1em sans-serif;
}

h1 {
  display: none;
}

ul {
  list-style: none;
}

body  ::-webkit-scrollbar{
  display: none;
}


/*Body Responsive------------------------------------------------------->*/
@media screen and (min-width: 1000px) {
  body {
    grid-template-columns: 1fr 2fr;
    max-width: none;
  }
}

@media screen and (min-width: 1300px) {
  body {
    grid-template-columns: 1fr 4fr;
    max-width: none;
  }
}

/*Header Styles------------------------------------------------------->*/

header {
  display: grid;
  height: 100vh;
  overflow: scroll;
}

header a {
  color: white;
  text-decoration: none;
}

.headerImage-container {
  grid-row: 1/2;
  grid-column: 1/2;
}

.headerImage-container img {
  width: auto;
  height: auto;
  position: fixed;
  z-index: -2;
}

.logo-container {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  font: 1em sans-serif;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  background: none;
  margin-top: 40px;
}

.logo-container img {
  width: auto;
  display: block;
  margin: 0 auto;
  align-self: end;
}

.phone-container {
  height: auto;
  display: grid;
  grid-template-columns: 200px 50px;
  column-gap: 10px;
  background: none;
  margin-top: 15px;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  align-items: center;
}

.phone-container button {
  width: auto;
  font-size: 1.5em;
  color: white;
  position: static;
  z-index: 20;
  border: none;
  padding: 20px 0;
  outline-color: none;
  cursor: pointer;
  margin: 0;
  background: none;
  text-shadow: 0 0 5px black;
}

.phone-container i img {
  border-radius: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}

.allitems-container {
  row-gap: 10px;
  padding-top: 20px;
}

.option-container {
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  margin-bottom: 60px;
}

/*Header Responsive------------------------------------------------------->*/
@media screen and (min-width: 1000px) {
  header {
    position: sticky;
    top: 0;
    left: 0;
    max-height: 110vh;
    /* z-index: -1; */
  }

  /* header>picture img {
    z-index: -1;
    max-width: auto;
    max-height: auto;

  } */
}

a>h2{
  font: 1.3em sans-serif;
  
}

/*Main Styles------------------------------------------------------->*/

main {
  display: grid;
  padding-bottom: 200px;

}

main h2 {
  color: white;
  padding: 20px;
  margin: 0;
  text-shadow: 5px 5px 5px black;
}

.button-container {
  display: grid;
  row-gap: 10px;
  padding-bottom: 40px;
  background: none;
}

.button-container h2 {
  color: white;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  background: #b6061d;
}

.events-container {
  display: grid;
  margin: 20px;
}

.menu-container {
  display: grid;
  width: auto;
  margin: 10px;
  background: none;
  z-index: 3;
}

.content-container {
  display: grid;
  row-gap: 10px;
  padding-bottom: 10px;
  background: none;
}

.content-container h3 {
  position: sticky;
  top: 0;
  left: 0;
  height: 20px;
  margin: 0;
  font-size: 1.3em;
  padding: 20px;
  z-index: 0;
  color: #b6061d;
  border-top: #b6061d dashed 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.171);
  background: white;
  cursor: pointer;
}

/*Items styles----------------------------------------------------------->*/

.allitems-container {
  display: grid;
  height: auto;
  width: auto;
  margin: 0 auto;
  padding: 10px;
}

.item-container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  margin: 0 auto;
  border: 2px solid gainsboro;
  align-items: center;
  background: white;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
}

.item-headding {
  display: grid;
  grid-template-columns: minmax(auto, 330px) auto;
  cursor: pointer;
}

.item-headding h4 {
  font: 1.5em sans-serif;
  color: black;
  font-weight: normal;
  margin: 0;
  background: none;
}

.item-headding img {
  width: auto;
  height: 70%;
  justify-self: end;
  padding-right: 10px;
}

.item-container p:first-of-type {
  color: black;
  font: 1.1em sans-serif;
}

.item-container p:last-child {
  text-align: right;
  font: 1em sans-serif;
  margin: 0;
  padding-bottom: 5px;
}

.item-container > p {
  padding: 20px 0;
}

.item-info {
  display: none;
  max-width: 350px;
}

.item-info > p {
  padding: 30px 10px;
}

#pizzasMenu,
#sandwichesMenu,
#appetizersMenu,
#saladsMenu,
#burgersMenu {
  display: none;
}

#pizzaItem1Info,
#sandwichItem1Info,
#HouseSaladInfo,
#burgerItem1Info,
#DeltaIndianRollInfo,
#PrimeRibDipInfo,
#CheeseLoversInfo {
  display: block;
}

/*Event container styles-------------------------------------->*/

.event-item-container {
  display: grid;
  justify-content: center;
  margin-right: 5px;

}

.event-item-container h3,
.event-item-container p {
  margin: 0;
}

.event-item-container ul {
  padding: 0;
}

.events-container {
 display: grid;
 z-index: 1;
 padding: 0;
}

.events-container>ul{
  display: flex;
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  padding: 0;

}

.event-item-container {
  background: white;
  padding: 10px;
  border-radius: 20px;
  text-align: left;
  justify-content: center;
  align-content: center;
  font: 1.2em sans-serif;
  min-width: 300px;
  min-height: 250px;
  
}

.events-container h2 {
  font: 1.2em sans-serif;
  color: white;
  margin: 0 auto;
  text-shadow: 5px 5px 5px black;
}

.events-container h3 {
  font-size: 1em;
}

/*Info conatiner styles-------------------------------------->*/

.info-container {
  color: white;
  padding: 10px;
  background: #013368;
  margin: 20px;
  border-radius: 30px;
}

.info-container h2 {
  margin-bottom: 0;
}

.info-container ul {
  padding: 0;
  margin-top: 0;
}

.margin-bottom {
  margin-bottom: 20px;
}

.hours-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: solid 1px white;
  margin-right: 0px;
  padding-top: 20px;
}

.location-container p {
  border-top: solid 1px white;
  padding-top: 20px;
  margin-top: 0;
  max-width: 200px;
}

.block-click {
  display: none;
}

.content-container img {
  width: 7px;
  height: 25px;
}

/*Main Responsive ------------------------------------------------------->*/
/*Tablest styles*/
@media screen and (min-width: 1000px) {
  .button-container a:first-of-type{
    display: none;
  }
}



/*Desktop Styles----------------------------------------------->*/
@media screen and (min-width: 1300px) {
  main {
    background: white;
  }

  main h2 {
    display: none;
  }

  .content-container h3 {
    cursor: default;
    /*fix error*/
  }

  .menu-container {
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px;
    align-items: start;
    padding-bottom: 400px;
  }

  #pizzasMenu,
  #sandwichesMenu,
  #appetizersMenu,
  #saladsMenu,
  #burgersMenu {
    display: grid;
  }

  .allitems-container {
    grid-template-columns: 1fr;
    column-gap: 10px;
  }

  .item-container {
    max-width: 400px;
  }

  /*Appetizers Manule placement*/
  .large-colunm {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .block-container {
    display: grid;
  }

  .block-click {
    grid-row: 1/2;
    grid-column: 1/2;
    display: block;
    background: none;
    height: auto;
    z-index: 3;
  }

  .block-container h3 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
